
<div class="container-lg">

<form [formGroup]="addFormGroup">
  <div class="container row">
    <div class="col">
      <div class=" justify-content-center">
        <h4>Данные автора:</h4>
        <br>
        <div class="col">
            <input type="text" class="form-control" placeholder="Фамилия" formControlName="surname">
        </div>
        <br>
        <div class="col">
            <input type="text" class="form-control" placeholder="Имя" formControlName="name">
        </div>
        <br>
        <div class="col">
            <input type="text" class="form-control" placeholder="Отчество" >
        </div>
        <br>
        <div class="form-group col">
          <label >Дата рождения:</label>

            <input type="date" class="form-control" formControlName="date">

        </div>
      </div>
    </div>
    <div class="col justify-content-center">
        <div class="col">
          <h3>Книги:</h3>
        </div>
      <br><br>
          <div class="col-8">
            <h4>Название:</h4>
             <h6>Кобзарь</h6>
          </div>
      <br>
          <div class="col-8">
            <h4>Жанр:</h4>
            <h6>Поезия</h6>
          </div>
    </div>
  </div>
</form>

  <div class="row justify-content-end">
    <button type="button"
            class="btn btn-outline-success submit"
            (click)="onSubmit()"
            [disabled]="!addFormGroup.valid"
            routerLink="/author"
    >Сохранить</button>
    <button type="button" class="btn btn-outline-danger"  routerLink="/**" data-dismiss="modal">Закрыть</button>
  </div>

</div>
